<style type="text/css">
  .saturday {
    background: #ccffff;
  }
  .sunday {
    background: #ccffff;
  }
  .no-hours {
    background: #ffcccc;
  }
  .not-enough {
    background: #ffffcc;
  }
</style>

<h2>タイムトラッキング</h2>
<h3><%= @days.first %> ～ <%= @days.last %></h3>

<table border="1">
  <tr>
    <th></th>
    <% @days.each do |day| %>
      <th><%= day.strftime("%m/%d")%> (<%= day_name(day.wday)[0..2] %>)</th>
    <% end %>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to_usertrack(user) %></td>
      <% @days.each do |day| %>
        <% time_entries = time_entries_by_user(user, day) %>
        <% hours = time_entries.inject(0.0) {|s,t| s += t.hours} %>
        <% id = "time-entry#{user.id.to_s}#{day.to_s}" %>
        <td class="<%= class_hours(day, hours) %>">
          <a href="" onclick="if ($('<%= id %>').style.display=='none' || $('<%= id %>').style.display=='') {$('<%= id %>').style.display='block';} else {$('<%= id %>').style.display='none';} return false;">
            <%= hours %>
          </a>
          <table id="<%= id %>" style="display:none;">
            <tr>
              <th>プロジェクト</th>
              <th>チケット</th>
              <th>時間</th>
              <th>活動</th>
              <th>コメント</th>
            </tr>
            <% time_entries.each do |time_entry| %>
              <tr>
                <td><%= link_to_project(time_entry.project)  %></td>
                <td><%= link_to_issue(time_entry.issue) %></td>
                <td><%= time_entry.hours %></td>
                <td><%= time_entry.activity %></td>
                <td><%= time_entry.comments %></td>
              </tr>
            <% end %>
          </table>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

