<style type="text/css">
  .time-entry {
    text-align: right;
  }
  .saturday {
    background: #ccffff;
  }
  .sunday {
    background: #ccffff;
  }
  .no-hours {
    background: #ffcccc;
  }
  .not-enough {
    background: #ffffcc;
  }
</style>

<h2>タイムトラッキング</h2>
<h3><%= @days.first %> ～ <%= @days.last %></h3>

<table border="1">
  <tr>
    <th></th>
    <% @days.each do |day| %>
      <th><%= day.strftime("%m/%d")%> (<%= day_name(day.wday)[0..2] %>)</th>
    <% end %>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to_usertrack(user) %></td>
      <% @days.each do |day| %>
        <% time_entries = time_entries_by_user(user, day) %>
        <% hours = time_entries.inject(0.0) {|s,t| s += t.hours} %>
        <% id = "time-entry#{user.id.to_s}#{day.to_s}" %>
        <td class="time-entry <%= class_hours(day, hours) %>">
          <a href="" onclick="if ($('<%= id %>').style.display=='none' || $('<%= id %>').style.display=='') {$('<%= id %>').style.display='block';} else {$('<%= id %>').style.display='none';} return false;">
              <%= html_hours("%.2f" % hours) if hours > 0.0 %>
          </a>
          <table id="<%= id %>" style="display:none;">
            <tr>
              <th>プロジェクト</th>
              <th>チケット</th>
              <th>時間</th>
              <th>活動</th>
              <th>コメント</th>
              <th></th>
            </tr>
            <% time_entries.each do |time_entry| %>
              <tr>
                <td><%= link_to_project(time_entry.project)  %></td>
                <td><%= link_to_issue(time_entry.issue) %></td>
                <td><%= time_entry.hours %></td>
                <td><%= time_entry.activity %></td>
                <td><%= time_entry.comments %></td>
                <td><% if time_entry.editable_by?(User.current) -%>
                    <%= link_to image_tag('edit.png'), {:controller => 'timelog', :action => 'edit', :id => time_entry, :project_id => nil},
                                                       :title => l(:button_edit) %>
                    <%= link_to image_tag('delete.png'), {:controller => 'timelog', :action => 'destroy', :id => time_entry, :project_id => nil},
                                                         :confirm => l(:text_are_you_sure),
                                                         :method => :delete,
                                                         :title => l(:button_delete) %>
                <% end -%></td>
              </tr>
            <% end %>
          </table>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= link_to '1週間前', :from => @days.first - 5, :to => @days.last - 5  %>
<%= link_to '1週間後', :from => @days.first + 5, :to => @days.last + 5  %>
