<h3><%= params[:date] %> : <%= link_to_user User.find(params[:user]) %></h3>

<%= javascript_tag do %>
$(function(){
  $('a.cancel_posttime').click(function() {
    $(this).parents(".form_time_entry").css('display', 'none');
    return false;
  });
  $('.input_hour').focus(function() {
    $(this).nextAll(".form_time_entry").css('display', '');
  });
  $(".issue_posttime")
    .live('ajax:success', function(data, status, xhr) {
            $(this).find(".form_time_entry").css('display', 'none');
            $(this).parent().css('backgroundColor', "#DFFFDF");
            $(this).parent().css('borderColor', "#9FCF9F");
          })
    .live('ajax:error', function(xhr, status, error) {
            $(this).find(".result_time_entry").html(status.responseText);
            $(this).parent().css('backgroundColor', "#FFE3E3");
            $(this).parent().css('borderColor', "#DD0000");
          });
  });
<% end %>

<table class="list issues" border="1">
  <tr>
    <th>プロジェクト</th>
    <th>チケット</th>
    <% TimeEntryActivity.shared.active.each do |activity| %>
      <th><%= activity %></th>
    <% end %>
  </tr>
  <tr><th><%= l(:label_assigned_to_me_issues) %></th></tr>
  <%= render :partial => 'issues', :object => @issues_by_assignee %>
  <tr><th><%= l(:label_watched_issues) %></th></tr>
  <%= render :partial => 'issues', :object => @issues_by_watching %>
</table>

