<h3><%= params[:date] %> : <%= link_to_user User.find(params[:user]) %></h3>

<script type="text/javascript">
  function disp(id) {
    $(id).style.display = "";
  }

  function none(id) {
    $(id).style.display = "none";
  }

  function success(id) {
    none(id);
    $(id).parentElement.parentElement.style.backgroundColor = "#DFFFDF";
    $(id).parentElement.parentElement.style.borderColor = "#9FCF9F";
  }

  function failure(request, id) {
    $(id).parentElement.parentElement.style.backgroundColor = "#FFE3E3";
    $(id).parentElement.parentElement.style.borderColor = "#DD0000";
    $("result" + id).innerHTML = request.responseText;
  }

</script>

<table class="list issues" border="1">
  <tr>
    <th>プロジェクト</th>
    <th>チケット</th>
    <% TimeEntryActivity.shared.active.each do |activity| %>
      <th><%= activity %></th>
    <% end %>
  </tr>
  <tr><th><%= l(:label_assigned_to_me_issues) %></th></tr>
  <%= render :partial => 'issues', :object => @issues_by_assignee %>
  <tr><th><%= l(:label_watched_issues) %></th></tr>
  <%= render :partial => 'issues', :object => @issues_by_watching %>
</table>

