<h3><%=l(:label_spent_time)%> (<%= "#{@day} #{@user}"%>)</h3>
<h3><%= @days.first %> ～ <%= @days.last %></h3>

<%= form_tag({}, :method => :get) do %>
  <label>from</label>
  <input id="date_from" name="from" size="15" type="text" value="<%= @days.first %>" />
  <%= calendar_for('date_from') %>
  <br />
  <label>to</label>
  <input id="date_to" name="to" size="15" type="text" value="<%= @days.last %>" />
  <%= calendar_for('date_to') %>

  <%= param_user(@user).html_safe %>

  <%= submit_tag "表示" %>
<% end %>

<div class="total-hours">
<p><%= l(:label_total) %>: <%= html_hours("%.2f" % @entries.sum(&:hours).to_f) %></p>
</div>

<% if @entries.any? %>
<table class="list time-entries">
<thead><tr>
<th><%= l(:label_activity) %></th>
<th><%= l(:label_project) %></th>
<th><%= l(:label_issue) %></th>
<th><%= l(:field_comments) %></th>
<th><%= l(:field_hours) %></th>
<th></th>
</tr></thead>
<tbody>
<% @all_days.each do |day| %>
  <tr class="odd">
  <td><strong><%= day == Date.today ? l(:label_today).titleize : format_date(day) %></strong></td>
  <td colspan="3"></td>
  <td class="hours"><em><%= @entries_by_day[day] && html_hours("%.2f" % @entries_by_day[day].sum(&:hours).to_f) %></em></td>
  <td></td>
  </tr>
  <% @entries_by_day[day] && @entries_by_day[day].each do |entry| -%>
    <tr class="time-entry" style="border-bottom: 1px solid #f5f5f5;">
    <td class="activity"><%= entry.activity %></td>
    <td class="subject"><%= link_to_project(entry.project) %></td>
    <td class="subject"><%= link_to_issue(entry.issue, :truncate => 50) if entry.issue %></td>
    <td class="comments"><%= entry.comments %></td>
    <td class="hours"><%= html_hours("%.2f" % entry.hours) %></td>
    <td align="center">
    <% if entry.editable_by?(@user) -%>
        <%= link_to image_tag('edit.png'), {:controller => 'timelog', :action => 'edit', :id => entry},
                                           :title => l(:button_edit) %>
        <%= link_to image_tag('delete.png'), {:controller => 'timelog', :action => 'destroy', :id => entry},
                                             :confirm => l(:text_are_you_sure),
                                             :method => :delete,
                                             :title => l(:button_delete) %>
    <% end -%>
    </td>
    </tr>
  <% end -%>
  <tr><td>
  <div id="activity">
  <% @events_by_day[day] && @events_by_day[day].each do |e| -%>
    <dl>
      <dt class="<%= e.event_type %> <%= User.current.logged? && e.respond_to?(:event_author) && User.current == e.event_author ? 'me' : nil %>">
      <span class="time"><%= format_time(e.event_datetime, false) %></span>
      <%= content_tag('span', h(e.project), :class => 'project') if @project.nil? || @project != e.project %>
      <%= link_to format_activity_title(e.event_title), e.event_url %></dt>
      <dd><span class="description"><%= format_activity_description(e.event_description) %></span></dd>
    </dl>
  <% end %>
  </div>
  </td></tr>
<% end -%>
</tbody>
</table>
<% end %>

<%= link_to 'さらに1週間さかのぼる', :user => @user, :from => @days.first - 5, :to => @days.last  %>
